/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* NAVBAR START */
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 55vw;
  justify-content: end;
  margin-right: 1rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: left;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    /* background: #fff; */
    color: #242424;
    transition: 250ms;
  }
}
#navtrip{
  color: white;
  padding-left: 15px;
}
/* NAVBAR END */
#footer {
  width: 100%;
  background-color: #222222;
  color: #ededed;
}
#footer div {
  width: calc(100% - 4em);
  padding: 2em;
  text-align: center;
  letter-spacing: 0.03em;
}
/* BUTTON START */
:root {
  --primary: #fff
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  border: 1px solid;
}


.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline{
  background-color: white;
  padding: 8px 20px;
  border: all 0.3s ease-out;
font-size: 1.5rem;
}

.btn--outline a{
  color: black
}


.btn-medium {
  padding: 8px 20px;
  font-size: 20px;
}

-btn-large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}


/* BUTTON END */

/* HOME STYLES START */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.home-container {
  background: url('/images/treeimage.jpeg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.home-container > h1 {
  color: #fff;
  font-size: 20px;
  margin-top: -100px;
}

.home-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.home-btns {
  margin-top: 32px;
}

.home-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .home-container > h1 {
    font-size: 20px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 20px;
    margin-top: -100px;
  }

  .home-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* HOME STYLES END */

/* css for login, register, and any profile updates */

#profilecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#profilecontainer svg {
  width: 25px;
  height:25px;
  overflow: visible;
  fill: #222;
  padding-right:2em;
}
#profileform {
  width: 50%;
}
#profileleft {
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
}
#profileleft h2 {
  position: fixed;
  top: 50%;
}
#profileleft {
  display: flex;
  flex-basis: calc(40% - 4em);
  align-items: center;
  background-color: #b7926a;
  color: #fff;
  min-height: calc(100vh - 9em);
}
#profileright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(60% - 4em);
  min-height: calc(100vh - 9em);
  padding-bottom: 5em;
}

.full-width-list ul{
  width:100%;
  margin: 0;
  padding: 0;
}
.full-width-list li {
  width: 100%;
  list-style:none;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh / 4.5);
  min-height: 60px;
  padding: 0 2em;
}
#profileright.full-width-list a {
  transition: 0.2s ease-in-out;
}
#profileright.full-width-list a:hover {
  padding-bottom: 10px;
  transition: 0.2s ease-in-out;
}
.full-width-list li div:first-child {
  padding-left: 2em;
}

.formfield label {
  position: relative;
  margin-left: 10px;
  background-color: #fff;
  align-items: center;
  font-weight: bold;
  z-index: 99;
  top: -4em;
  padding: 0 0.5em;
}
.formfield > input {
  margin-top: 0.5em;
  padding: 1em;
  width: calc(100% - 2em);
}
.formfield > select {
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
}
.formfield:last-child span {
  display: block;
  padding-bottom: 1em;
}
.formfield:last-child a {
  display: inline-block;
  margin: 0 1em;
}

.flex-v-remover #profileright{
  align-items: normal;
}

#content-wrapper {
  padding-top: 80px;
}  
.container {
  padding: 2em;
}
.hero-text {
  padding-left:10%;
}
.hero-text h1, .hero-text p{
  padding-bottom:20px;
  width:50%;
}
.hero {
  height: calc(100vh - 80px);
  background-image: url('./images/window-AdobeStock_122400850.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;
  margin-bottom: 2em;
  display: flex;
  align-items: flex-start;
}
.brandblock {
  width:120px;
  height: 5px;
  margin: 20px 5px;
  background-color:#b7926a;
}
.cta {
  background-color: #222;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.cta:hover {
  background-color: #fff;
  color:#222;
  box-shadow: 0 0 0 2px #222;
}
.ctadisabled {
  background-color: #ddd;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  cursor: default;
}
.hpcontent {
  padding-bottom: 10em;
}
.hpsection-1 {
  display: flex;
  align-items: center;
}
.hpsection-1 > div{
  width: 50%;
  height: 80vh;
}
.hpsection-1 .hpsection-1-imgA{
  background-image: url('./images/hiking-AdobeStock_390659726.jpeg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.hpsection-1 .hpsection-1-imgB{
  background-image: url('./images/train-AdobeStock_275484699.jpeg.crdownload.jpeg');
  background-position: top center;
  background-repeat: none;
  background-size: cover;
}
.hpsection-1 .hpsection-1-imgC{
  background-image: url('./images/sample-itinerary.png');
  background-position: top center;
  background-repeat: none;
  background-size: cover;
}
.hpsection-1 .hpsection-1-txt {
  width: calc(50% - 8em);
  padding: 0 4em;
  background-color: #fff;
}
.hpsection-1 p {
  padding: 1em 0;
}
.itemList{
  padding-bottom: 5em;
}
.itemList h3{
  width: 90%;
  margin: 0 auto;
}
.itemList img{
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.itemList p {
  display: inline-block;
  width: fit-content;
  padding: 5%;
}
.itemList ul {
  padding: 5%;
  margin: 0;
  display: inline-block;
}
.itemList li {
  display: inline-block;
  list-style: none;
  width: 1.5em;
  text-align: center;
}
.itemList li:last-child {
  background-color: #ededed;
}
.itemList ul button {
  padding: 0;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.itemList > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.col3 .itemcard {
  width: 32%;
}

/* dropdown start */

.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #050505;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #a8a6a6;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: block;
  }
}

/* dropdown end */

.highlighted {
  background-color: green;
}

.flexBox {
flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content:space-between;


}

.item {
  align-items: center;
  text-align: center;
}

#attendees{
  margin-top: 15px;
  margin-bottom: 125px;
  border-collapse: separate;
  border-spacing: 15px 15px;
  border: 1px solid black;
  margin-left:auto; 
  margin-right:auto;
}
#attendees > td {
  padding: 1px 0;
}
#attendees > tr {
  border: 1px solid black;
}
#attendeesheadings{
  text-align: center;
}
#attendeesheadings h2 {
  margin-top: 15px;
}
#attendeesheadings h3 {
  margin-top: 15px;
}
#attendeesheadings h4 {
  margin-top: 15px;
}
#newattendeeform{
  margin-top: 20px;
}

/* ITINERARY */
#itineraryBox {
  padding: 50px;
}

#itineraryName {
  display:flex;
  justify-content: center;
}

.tripDuration {
  display:flex;
  justify-content: center;
}

#eventBox {
  padding: 15px;
  /* border: black solid 1px; */
}

.category {
  border: black solid 1px;
  padding: 5px;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.eventCategory {
  /* border: black solid 1px; */
  /* text-align: center;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 20%; */
  /* height: 10px; */
  /* justify-content: space-evenly; */
  padding: 9%;
  margin: auto;
  text-decoration-line: underline;
}

.events {
  /* border:red solid 1px; */
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  width: 30%;
}

.individualItem {
  border:blue solid 1px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

/* ALL TRIPS PAGE*/
#allTripsPage {
  padding: 50px;
}

#pageTitle {
  display:flex;
  justify-content: center;
}

.singleTripCard {
  border: black solid 1px;
  padding: 5px;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.buttons button {
  font-size: 20px;
  margin: 20px ;
  color: white;
  border: 5px solid rgb(95, 53, 13);
  box-shadow: wheat;
  background-color: rgb(155, 93, 0);
}